<% include ./partials/header %>

<section id="moving-image">
        <img src="https://media.giphy.com/media/f2uJ1pbidyrEA/giphy.gif">
    </section>

    <section id="mission-statement" class="text-white">
        <div class="about-sri pt-5 pb-3"><strong>Our Mission</strong></div>
        <p class="sri-bio px-5 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab perferendis culpa laudantium corrupti porro facilis reprehenderit alias id magni odio praesentium,
             natus accusamus maiores cum ea modi expedita consequuntur similique libero, nisi iusto 
             commodi! Iste necessitatibus quae nisi libero, consequatur illum culpa qui recusandae 
             eveniet architecto pariatur dolorum voluptatem sunt nemo expedita autem esse deserunt 
             dicta fugit! Officiis, quas facere! Perferendis, explicabo vel sed sapiente reprehenderit 
             atque esse doloremque eaque quisquam voluptates itaque sequi expedita eligendi eius magni 
             quibusdam culpa ipsa ratione error, consequatur, sint quia. Minima debitis fugiat nihil, 
             odit assumenda molestias eligendi, voluptates mollitia maiores cumque ipsam quae.
            <br><br>
            <strong>Lorem ipsum dolor sit amet consectetur adipisicing..</strong>
        </p>
        <br>
        <button type="button" class="btn btn-sm btn-block text-white mb-3">Lorem ipsum</button>
        <br><br>
    </section>

    <section id="data">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card pt-4 blue">
                        <i class="fas fa-tint fa-5x blue"></i>
                        <div class="card-body">
                            <h5 class="card-title">Water Quality</h5>
                            <a href="#" class="btn btn-sm text-white">Visit Data</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card pt-4 blue">
                        <i class="fas fa-wind fa-5x blue"></i>
                        <div class="card-body">
                            <h5 class="card-title">Wind Quality</h5>
                            <a href="#" class="btn btn-sm text-white">Visit Data</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card pt-4 blue">
                        <i class="fas fa-power-off fa-5x blue"></i>
                        <div class="card-body">
                            <h5 class="card-title">Alternative Power</h5>
                            <a href="#" class="btn btn-sm text-white">Visit Data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sri-info" class="text-white">
        <div class="about-sri pt-5 pb-3"><strong>About Southern Research</strong></div>
        <p class="sri-bio px-5 pb-3">We’ve created seven drugs that are helping win the war on cancer. More are on the way. When HIV threatened the world’s
        future, we helped develop a course of treatment that changed the course of history. We’re creating better ways for you
        to have cleaner air and water. Our technologies help men and women in uniform remain safe overseas. We’re developing
        methods to build energy efficient cars out of plant fiber that will get 80mpg. We are Southern Research. We’re taking
        on the world’s hardest problems. And solving them. This has been our mission since 1941.
        <br><br>
        <strong>And we're just getting started.</strong>
        </p>
        <br>
        <button type="button" class="btn btn-sm btn-block text-white mb-3">Learn More</button>
        <br><br>
    </section>

<% include ./partials/footer %>