<% include ../partials/header %>

<div class="ui main text mx-5 segment" style="margin-top:10rem">
    <div class="ui huge header"><%= data.title %></div>
    <div class="ui top attached">
            </div>
            <br>
            <div class="description">
                <p><%= data.description %></p>
                <br>
                <p><%= data.body %></p>
            </div>
            <br>
            <div class="extra">
            <a class="ui floated basic black button" href="/data">
                <i class="left chevron icon"></i>
                Go Back
            </a>
        </div>
        </div>
    </div>
</div>